<!--***************************************************************************
//     Application: Email Application
//     Author:      Joshua McClure(jmcclu23)
//     Date:        2017-04-23
//     File:        index.ejs
//     Description: Displays index with links to login or signup
//*****************************************************************************
//     History
//*****************************************************************************
// Date         Version     User       Description
//2017-04-23      1.0     jmcclu23     Initial Commit, new program
-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h2>Joshua McClure's PGP Email System</h2>
        <a href="/login" class="btn btn-default">Login</a>
        <a href="/signup" class="btn btn-default">Signup</a>
      </div>
  </div>
  <script src="jquery/dist/jquery.js"></script>
  <script src ="bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
