<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Emaill Application</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h2>Joshua McClure's PGP Email System</h2>
        <a href="/login" class="btn btn-default">Login</a>
        <a href="/signup" class="btn btn-default">Signup</a>
      </div>
  </div>
  <script src="jquery/dist/jquery.js"></script>
  <script src ="bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
